* {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  width: 100%;
}

/* Mobile first  */
#container_1 {
  background-color: rgb(255, 0, 0);
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 5%;
  display: grid;
}

#container_2 {
  background-color: rgb(250, 238, 3);
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 5%;
  display: grid;
}

#container_3 {
  background-color: rgb(3, 77, 250);
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 5%;
  display: grid;
}

.overskrifter {
  text-align: center;
}

.video_portfolio {
  justify-self: center;
}

@media (min-width: 800px) {
  #container_1 {
    grid-template-columns: 1fr 1fr;
  }

  #container_2 {
    grid-template-columns: 1fr 1fr;
  }

  #container_3 {
    grid-template-columns: 1fr 1fr;
  }

  .overskrifter {
    grid-column: 2;
  }

  .video_portfolio {
    grid-column: 1;
    grid-row: 2;
  }

  .img_1 {
    grid-column: 1;
    grid-row: 2;
  }

  .tekst {
    grid-column: 2;
    grid-row: 2;
  }
}

/* 
.artikel_1 {
  display: flex;
  flex-direction: column;
}
.artikel_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
.artikel_2 img {
  width: 90%;
}
#atikel_2_tekst {
  display: flex;
  flex-direction: column;
} */
