* {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  width: 100%;
}

.logo {
  height: 50px;
  width: 50px;
  grid-column: 1;
  grid-row: 1;
  justify-self: start;
  margin: 2%;
}

.logo img {
  height: auto;
  width: 100%;
}

/* Mobile first  */

/* LANDINGPAGE */
#container {
  background-color: #c9a7c4;
  background-size: cover;
  width: 100%;
  height: auto;
  display: grid;
}

h1 {
  text-align: center;
  font-size: 4rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

.video_landingpage {
  justify-self: center;
  margin-bottom: 5%;
}

.img {
  background: url(rovdrift_crop_katalog2.jpg);
  background-size: cover;
  height: 550px;
}

.logo_white {
  background: url(Blaagaard\ Teater_Logo_White_CMYK@2x.png);
  background-size: cover;
  height: 107px;
  width: auto;
}

/* nyhedsbrev */

.instagram {
}
.facebook {
}

/* PORTFOLIO */
#container_1 {
  background-color: #2249f0;
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 5%;
  display: grid;
}

#container_2 {
  background-color: #e23627;
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 5%;
  display: grid;
}

#container_3 {
  background-color: #02d7c5;
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 5%;
  display: grid;
}

.overskrifter {
  text-align: center;
}

.video_portfolio {
  justify-self: center;
}

.img_1 {
  background: url(SoMe.svg);
  background-size: cover;
  height: 211px;
}

.tekst {
  margin-top: 5%;
}

@media (min-width: 800px) {
  /* LANDINGPAGE */

  /* PORTFOLIO */
  #container_1 {
    grid-template-columns: 1fr 1fr;
  }

  #container_2 {
    grid-template-columns: 1fr 1fr;
  }

  #container_3 {
    grid-template-columns: 1fr 1fr;
  }

  .overskrifter {
    grid-column: 2;
  }

  .video_portfolio {
    grid-column: 1;
    grid-row: 2;
  }

  .img_1 {
    grid-column: 1;
    grid-row: 2;
  }

  .tekst {
    grid-column: 2;
    grid-row: 2;
  }
}

/* 
.artikel_1 {
  display: flex;
  flex-direction: column;
}
.artikel_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
.artikel_2 img {
  width: 90%;
}
#atikel_2_tekst {
  display: flex;
  flex-direction: column;
} */
