* {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
}

@font-face {
  font-family: druk;
  src: url("fonts/DrukText-BoldItalic-Trial.otf") format("opentype");
}

h1 {
  font-size: 5em;
  font-family: druk;
}

h2 {
  font-size: 3em;
  font-family: druk;
}

p {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}
